.container{
  font-family: sans-serif;
}
.intro{
  background-image: url("file:///home/wecode/Documents/studio%20project/images/h_img.jpg");
  background-size: cover;
  text-align : center;
  color: white;
}
.about{
  text-align: center;
}
.services{
  background-image: url("file:///home/wecode/Documents/studio%20project/images/s_image.jpg");
  color:white;
  text-align:center;
}
.do{
  text-align: center;

}
#logo{
  display: flex;
  justify-content: space-around;
}